
body {
    font-family: "yekan" !important;
}

.my-font {
    font-family: "yekan" !important;
}

.my-font > h1 {
    font-family: "yekan" !important;
}

.my-font > p {
    font-family: "yekan" !important;
}

.my-font > span {
    font-family: "yekan" !important;
}

.text-aline {
    text-align: center;
    color: white;
}

.direction-ltr {
    direction: ltr;
}

.select-height {
    height: 50px;
    margin-top: -16px;
}

.texterea-user {
    border: 1px solid #c2cad8 !important;
    height: 89px !important;
}

@font-face {
    font-family: "yekan";
    src: url(../font/Yekan.eot);
    src: url(../font/Yekan.eot?#iefix) format("embedded-opentype"), url(../font/Yekan.woff) format("woff"), url(../font/Yekan.ttf) format("truetype"), url(../font/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}