{% extends 'base.html' %}
{% load static %}
{% load general_template %}
{% block content %}
    <div class="page-content-wrapper persianumber">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a>مدیریت کاربران</a>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                    <li>
                        <span>اضافه کردن کاربر جدید</span>
                    </li>
                </ul>
            </div>
            <div class="row margin-top-20">
                <div class="col-md-12">
                    <form id="add_user" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ user.CellNumber }}" id="cell_number_edit" name="cell_number_edit">
                        <div class="portlet light bordered">
                            <div class="row margin-bottom-20">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="FName">نام</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="FName" id="FName" value="{{ user.FName }}">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">نام</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="LName">نام خانوادگی</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="LName" id="LName" value="{{ user.LName }}">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">نام خانوادگی</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="Username">نام کاربری</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="Username" id="Username" value="{{ user.Username }}">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">نام کاربری</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="Password">پسوورد</label>
                                        <div class="col-md-9 date_medicine">
                                            <input type="password" id="Password" class="form-control" name="Password" value="{{ user.Password }}">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">سعی شود از پسوورد قوی استفاده کنید</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="rep_password">تکرار</label>
                                        <div class="col-md-9 date_medicine">
                                            <input type="password" id="rep_password" class="form-control" name="rep_password" value="{{ user.Password }}">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">تکرار پسوورد</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="Gender">جنسیت</label>
                                        <div class="col-md-9">
                                            <select class="select-height form-control" name="Gender" id="Gender">
                                                <option value="0">مرد</option>
                                                <option value="1" {% if not user.Gender %}selected="selected"{% endif %}>زن</option>
                                            </select>
                                            <div class="form-control-focus"></div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="BirthDate">تاریخ تولد</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="BirthDate" id="BirthDate" value="{{ user.BirthDate|persian_date }}">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">تاریخ  . به عنوان مثال: 1395/06/02</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="CellNumber">شماره موبایل</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="CellNumber" id="CellNumber" {% if user.Username %}readonly="readonly"{% endif %} value="{{ user.CellNumber }}">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">شماره موبایل</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="Phone">تلفن</label>
                                        <div class="col-md-9 date_medicine">
                                            <input type="text" class="form-control" name="Phone" id="Phone" value="{{ user.Phone }}">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">تلفن</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="Fax">فکس</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="Fax" id="Fax" value="{{ user.Fax }}">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">فکس</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="Email">ایمیل</label>
                                        <div class="col-md-9 date_medicine">
                                            <input type="email" class="form-control" name="Email" id="Email" value="{{ user.Email }}">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">ایمیل</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="Photo">عکس</label>
                                        <div class="col-md-9">
                                            <input type="file" class="form-control" name="Photo" id="Photo" value="{{ user.Photo }}">
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">عکس</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label margin-top-15" for="Address">ادرس</label>
                                        <div class="col-md-9">
                                            <textarea class="form-control texterea-user" name="Address" id="Address">{{ user.Address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-top-20 pull-right">
                                <button type="submit" class="btn green">ذخیره</button>
                                <a href="/users/" class="btn btn-danger">انصراف</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block some_js %}
<script src="{% static 'js/users.js' %}" type="text/javascript"></script>

<script>
    csrf_token = '{{ csrf_token }}';
    active_menu_item("#users_item");

</script>
{% endblock %}
