<!DOCTYPE html>
{% load static %}
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8"/>
    <title>مدیریت بهداری</title>
    <link href="{% static 'global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/bootstrap/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/css/components-rtl.min.css' %}" rel="stylesheet" id="style_components" type="text/css"/>
    <link href="{% static 'layouts/layout/css/layout-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'layouts/layout/css/themes/darkblue-rtl.min.css' %}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{% static 'my-css/mycss.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/components.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/framework.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/uikit.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/uikit.almost-flat.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'my-css/uikit.gradient.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/font-awesome-4.5.0/css/font-awesome.min.css' %}" rel="stylesheet" >
    <link href="{% static 'global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'global/css/plugins-rtl.min.css' %}" rel="stylesheet" type="text/css" />
    {% block page_css %}
    {% endblock %}
</head>
{% block body %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-header navbar navbar-fixed-top persianumber">
        <div class="page-header-inner ">
            <div class="page-logo">
                <a href="http://www.negahcc.ir" target="_blank">
                    <img src="{% static 'pages/img/logo.png' %}" style="margin-top: -4px;height: 50px" alt="logo" class="logo-default"/>
                </a>
                <div class="menu-toggler sidebar-toggler"></div>
            </div>
            <a class="menu-toggler responsive-toggler" data-toggle="collapse"
               data-target=".navbar-collapse"> 
            </a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <span class="username username-hide-on-mobile pull-right">{{ request.user.userBox.full_name }} خوش آمدید</span>
                            <img alt="" class="img-circle pull-left" src="{% static 'layouts/layout/img/avatar3_small.jpg' %}"/>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default my-font">
                            <li>
                                <a href=''>
                                    <i class="icon-key"></i>
                                    خروج
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
                    data-slide-speed="200" style="padding-top: 20px">
                    <li class="sidebar-toggler-wrapper hide">
                        <div class="sidebar-toggler"></div>
                    </li>
                    <li id="users_item" class="nav-item">
                        <a class="nav-link nav-toggle">
                            <i class="icon-user"></i>
                            <span class="title">مدیریت کاربران</span>
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/users/" class="nav-link ">
                                    <i class="icon-users"></i>
                                    <span class="title">کاربران</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/users/add/" class="nav-link ">
                                    <i class="uk-icon-user-plus"></i>
                                    <span class="title">اضافه کردن کاربر جدید</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        {% block content %}
        {% endblock content %}
    </div>

    <div class="page-footer text-aline">
        <a href="http://www.negahcc.ir" target="_blank" style="color: white">
            ساخته شده توسط گروه نرم افزاری سازه های اطلاعاتی هوشمند نگاه
        </a>
    </div>
    <script src="{% static 'global/plugins/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
            type="text/javascript"></script>

    <script src="{% static 'global/scripts/app.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'layouts/layout/scripts/layout.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'layouts/layout/scripts/demo.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/uikit.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/notify.js' %}" type="text/javascript"></script>

    <script src="{% static 'global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'global/plugins/jquery-validation/js/additional-methods.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/active_sidebar.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/persianumber.min.js' %}" type="text/javascript"></script>
    {% block some_js %}
    {% endblock %}
    </body>
{% endblock body %}
</html>

