{% extends 'base.html' %}
{% load static %}
{% load general_template %}
{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a>مدیریت کاربران</a>
                        <i class="fa fa-angle-left"></i>
                    </li>
                    <li>
                    <li>
                        <span>همه کاربران</span>
                    </li>
                </ul>
            </div>
            <div class="row margin-top-20">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a class="btn sbold green" href="/users/add/" >
                                            اضافه کردن کاربر
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="users-table" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="all">ردیف</th>
                                        <th class="all">مشخصات</th>
                                        <th class="none">شماره تلفن</th>
                                        <th class="all">شماره موبایل</th>
                                        <th class="none">نام کاربری</th>
                                        <th class="all">جنسیت</th>
                                        <th class="none">فکس:</th>
                                        <th class="none">اخرین اپدیت:</th>
                                        <th class="none">تاریخ ایجاد:</th>
                                        <th class="none">ادرس:</th>
                                        <th class="none">پسوورد:</th>
                                        <th class="all">میل:</th>
                                        <th class="all">عملیات:</th>
{#                                        <th class="desktop">CityIDRef:</th>#}
{#                                        <th class="none">PrivacyFlags:</th>#}
                                    </tr>
                                </thead>
                                <tbody id="all_users">
                                    {% for user in users %}
                                        <tr id="user_{{ user.CellNumber }}">
                                            <td>{{ forloop.counter }}</td>
                                            <td>
{#                                                <img src="{{ user.Photo }}">#}
                                                <img style="margin-left: 10px;height: 45px;" class="img-circle pull-left" src="{% static 'layouts/layout/img/avatar3_small.jpg' %}"/>
                                                <div>
                                                    <span style="display: inherit">
                                                        {{ user.FName }} {{ user.LName }}
                                                    </span>
                                                    <span style="color: #666;font-size: 10px;">
                                                        {{ user.BirthDate }}
                                                    </span>
                                                </div>
                                            </td>
                                            <td>{{ user.Phone }}</td>
                                            <td>{{ user.CellNumber }}</td>
                                            <td>{{ user.Username }}</td>
                                            <td>{{ user.Gender }}</td>
                                            <td>{{ user.Fax }}</td>
                                            <td>{{ user.ModifyDate|persian_date }}</td>
                                            <td>{{ user.CreateDate|persian_date }}</td>
                                            <td>{{ user.Address }}</td>
                                            <td>{{ user.Password }}</td>
                                            <td>{{ user.Email }}</td>
{#                                            <td>{{ user.CityIDRef }}</td>#}
{#                                            <td>{{ user.PrivacyFlags }}</td>#}
                                            <td class="center">
                                                <a onclick="delete_user('{{ user.CellNumber }}')" class="btn btn-circle btn-icon-only btn-default btn red">
                                                    <i class="icon-trash"></i>
                                                </a>
                                                <a href="/users/edit/{{ user.CellNumber }}/" class="btn btn-circle btn-icon-only btn-default btn green"  data-toggle="modal" href="#add_user_modal">
                                                    <i class="icon-wrench"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block some_js %}
<script src="{% static 'js/users.js' %}" type="text/javascript"></script>
<script src="{% static 'js/table-users.js' %}" type="text/javascript"></script>


<script>
    csrf_token = '{{ csrf_token }}';
    active_menu_item("#users_item");

</script>
{% endblock %}
